**/__pycache__/
.python-version
**/.DS_Store
.DS_Store
**/*.token
out

# Node.js
node_modules
**/node_modules

# Cdk
cdk.out
cdk.out/** */
cdk.context.json
services/quipper/.DS_Store
services/quipper/cdk.out/dev-quipper.assets.json
services/quipper/cdk.out/dev-quipper.template.json
services/quipper/cdk.out/manifest.json
services/quipper/cdk.out/tree.json

# .env.* except .env.example
.env*
!.env.example
*.bkp
